<!DOCTYPE html>
<html>
    <head>
        {%load static%}
        <link rel="stylesheet" href="{%static 'tasks/style.css'%}">
        <title>Login</title>
     
    </head>
    <body>
        <header>
            <h1>Student Task Manager</h1>
        </header>
        <div class="auth-form">
            <h2>Login</h2>
            {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token%}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account <a href="/register">Register</a></p>
        </div>







    </body>
    










</html>