*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:Arial, sans-serif;
    background-image: url("Background.jpeg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding:30px;
    min-height:100vh;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 30;
    background: rgba(0,0,0,0.7);
    padding:15px 25px;
}
header h1{
    color:#00bfff;
}
header p{
    color:white;
}
header a{
    color:#00bfff;
    text-decoration: none;
    margin-left: 10px;
}
header a:hover{
    text-decoration: underline;
}
.container{
    max-width:900px;
    margin:auto;
}
.search-section{
    display:flex;
    gap:15px;
    margin-bottom:20px ;
}
.search-section input , .search-section select{
    flex:1;
    padding:12px;
    border:1px solid #00bfff;
    border-radius:8px;
    background-color:black;
    color:white;
    font-size:14px;
}
.search-section button{
    padding:12px 25px;
    background-color:#00bfff;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:14px;

}
.search-section button:hover{
    opacity:0.8;
}
.form-section{
    background:rgba(0,0,255,0.6);
    padding:20px;
    margin-bottom:25px;
    border-radius:10px;

}
.form-section h2{
    margin-bottom:15px;
    color:white;
}
.form-section input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #00bfff;
    border-radius:8px;
    color:white;
    background-color: black;
    font-size:14px
}
button{
    padding :12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}
#addTaskBtn{
    background-color:#007bff;
    color:white;
    width:100%
}
#addTaskBtn:hover{
    opacity:0.8;
}
.completeBtn{
    background-color:green;
    color:white;
    margin-right:10px;
}
.completeBtn:hover{
    opacity:0.8;
}
.deleteBtn{
    background-color:red;
    color:white;

}
.deleteBtn:hover{
    opacity:0.8;
}
.tasks-section h2{
    margin-bottom:15px;
    color:#00bfff;

}
#taskcontainer{
    display:flex;
    flex-direction:column;
    gap:15px;
    ;
}
.task-card{
    background:rgba(0,0,0,0.7);
    padding:20px;
    border-radius:10px;
    border-left:4px solid #00bfff;
    color:white;
}
.task-card h3{
    margin-bottom:10px;
    color:#00bfff;
    font-size:18px;
}
.task-card p{
    margin-bottom:8px;
    color:white;
    
}
.completed{
    text-decoration:line-through;
    opacity:0.7;
    border-left:4px solid green;
}
.auth-form{
    max-width:400px;
    margin:100px auto;
    background:rgba(0,0,0,0.8);
    padding:40px;
    border-radius:15px;
    color:white;
    border:1px solid #00bfff;
}

.auth-form h2{
    margin-bottom:20px;
    color:#00bfff;
    text-align:center;
    font-size:24px;
}

.auth-form input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #00bfff;
    background:black;
    color:white;
    font-size:14px;
}

.auth-form button{
    width:100%;
    background:#00bfff;
    color:white;
    padding:12px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    border:none;
}

.auth-form button:hover{
    opacity:0.8;
}

.auth-form p{
    text-align:center;
    margin-top:15px;
    color:white;
}
.error-message {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}
.auth-form a{
    color:#00bfff;
    text-decoration:none;
}

.auth-form a:hover{
    text-decoration:underline;
}

@media(max-width:600px){
    body {
        background-attachment: scroll;
        background-position: center top;
        padding: 15px;
    }
    .search-section form{
        flex-direction:column;
    }
    header{
        flex-direction:column;
        gap:10px;
        text-align:center;
    }
}